ul{
    list-style-type: none;
    display: flex;
    padding: 5px;
    background-color: black;
    justify-content: flex-end;
    
}
*{
    margin: 0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}        
.active{
    background-color: greenyellow;
}
